# data
data/
*.csv
!example_submission.csv
*.tar.gz

# kaggle / secrets
kaggle.json
.env

# wandb
wandb/

# checkpoints
checkpoints/
*.pth
*.pt

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# misc
.DS_Store
